.dbg
debug-*md
.DS_Store
.env
.env.*
!.env.example
generated-webapp/
generated-webapp-ui/
generated-webapp-ui-bad/
.idea/
*.local
node_modules/
npm-debug.log*
output/
*.swo
*.swp
test-output/
.trae/documents/
yarn-debug.log*
yarn-error.log*
